* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  background-image: linear-gradient(rgb(248, 249, 250), rgba(0, 0, 0, 0.5)),
    url("./assets/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px 0;
}
